<div class="card checkinslist container">
    <div class="search cf">
        <h2>Search test</h2>
        <p>{{message}} | keypresses: {{keypresses}}</p>

        <!-- QUERY -->
        <div class="form-group">
            <input type="text" ng-model="query" class="form-control" placeholder="Search"
                ng-keyup="keypresses = keypresses + 1" ng-init="keypresses=0">
        </div>

        <!-- DROP DOWN FILTER -->
        <div class="formgroup">
            <span class="label">by:</span>
            <select ng-model="order">
                <option value="firstname">First Name</option>
                <option value="lastname">Last Name</option>
                <option value="date">Date</option>
            </select>
        </div>

        <!-- ORDER BY -->
        <div class="formgroup">
            <input id="dirascending" type="radio" name="direction" ng-model="direction">
            <label for="dirascending">asc</label>&nbsp;

            <input id="dirdescending" type="radio" name="direction" ng-model="direction" value="reverse">
            <label for="dirdescending">desc</label>
        </div>
    </div>

    <br>
    <!-- Data Output area: -->
    <ul class="userlist cf" ng-show="keypresses>1">
        <!---------------------------->
        <!------ outer FOR-LOOP ------>
        <!---------------------------->
        <li id=" ng-repeat= elem in dataSet1"
            ng-repeat="elem in dataSet1 | orderBy: order:direction | filter: {$id: recordId, $: query}">
            <div class="checkin">
                <!-- data output -->
                <div class="info">
                    <h4>{{ elem.firstname }} {{ elem.lastname }}</h4>
                    <div class="data">{{ elem.date | date: "MMM d,yy h:mm a" }}</div>
                </div>
            </div>
        </li>
    </ul>
</div>