.j-container {
  background-color: #fbed80; }

@media screen and (min-width: 768px) {
  .navbar {
    border-radius: 0; } }

.navbar {
  margin-bottom: 0; }

#lab-nav {
  z-index: 1; }

.lab-margin-1 {
  margin: 8px; }

.lab-imgab-left1 {
  position: absolute;
  left: -20px;
  width: 600px; }

.lab-imgab-right1 {
  position: absolute;
  left: 20px;
  width: 600px; }

.lab-pad-left1 {
  padding-left: 30px; }

.lab-mh5 {
  min-height: 500px; }

.card {
  background: white;
  width: 100%;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 40px;
  text-align: center;
  position: relative;
  opacity: .95;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); }

.checkinslist {
  margin-top: 20px; }

.checkinslist h1 {
  color: #2D8BCF; }

.checkin h2 {
  margin: 0;
  padding: 0; }

.checkin .btn {
  padding: 0;
  margin: 0 3px; }

.checkinslist h3 {
  color: #657B83; }

.search {
  background: #F5F5F5;
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
  padding: 20px 30px;
  border-radius: 4px;
  text-align: left;
  font-size: 1.1rem;
  font-family: Lato, 'Helvetica Nueue', Helvetica, Arial, sans-serif; }

.search h2 {
  color: #124E61;
  margin-bottom: 10px; }

.search select {
  font-size: 1rem;
  padding: 10px 0 10px 15px;
  color: #475B62;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.3); }

.search input[type="text"] {
  margin-bottom: 10px; }

.search input[type="checkbox"] {
  display: inline;
  background-color: #ddd;
  border: 1px solid #C5C5C5;
  display: inline-block;
  margin-right: 15px;
  -webkit-appearance: none; }

.search label {
  font-size: 1rem;
  font-family: Lato, 'Helvetica Nueue', Helvetica, Arial, sans-serif;
  color: #576E75; }

.search .formgroup {
  float: left;
  width: 33%; }

.search .buttons {
  display: block;
  width: 33%;
  float: right;
  text-align: right; }

@media all and (max-width: 700px) {
  .search .formgroup {
    width: 50%; }
  .search .buttons {
    width: 100%;
    float: right; } }

@media all and (max-width: 550px) {
  .search .formgroup {
    width: 100%; } }

.gradient_lightgrey {
  background: linear-gradient(45deg, #cccccc 0%, rgba(204, 204, 204, 0.34) 44%, rgba(255, 255, 255, 0.07) 62%, rgba(255, 255, 255, 0.03) 65%, rgba(255, 255, 255, 0.01) 66%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#03ffffff', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */ }

.gradient_mediumgrey {
  background: linear-gradient(45deg, #666666 0%, rgba(102, 102, 102, 0.34) 44%, rgba(255, 255, 255, 0.07) 62%, rgba(255, 255, 255, 0.03) 65%, rgba(255, 255, 255, 0.01) 66%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#03ffffff', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */ }

/* === #header ===*/
#header {
  background-image: url("../img/background/1.png");
  background-size: cover;
  box-shadow: inset 0px 0px 0 2000px rgba(0, 0, 0, 0.2); }

/* #top starts here */
#top {
  background: white; }

.square {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 104px; }

.topleft {
  left: 25px; }

.topleft2 {
  left: 55px; }

.topright {
  height: 204px;
  right: 40px;
  top: 0;
  background: #eee; }

.topright2 {
  height: 204px;
  right: 0;
  top: 0;
  background: #ccc; }

.snowflake {
  opacity: .6;
  position: absolute;
  left: 170px;
  top: 10px;
  transition: all 1.5s ease-in-out; }

/* Designing with 2D Transform */
.topleft,
.topleft2 {
  transform: rotate(135deg); }

.topright,
.topright2 {
  transform: skew(-20deg); }

.snowflake:hover {
  transform: rotate(360deg); }

/* Animating the Navigation with CSS */
.button-group li .button {
  border: 0 !important; }

.button {
  -webkit-appearance: none;
  background-color: transparent;
  border-width: 0;
  text-align: center;
  box-shadow: 0 0 0; }

button, .button {
  color: #333; }

.button:hover,
.button:active {
  color: #333;
  background-color: transparent !important; }

/* Applying Multiple Transition Effects */
.side-box {
  background-color: rgba(255, 255, 255, 0.3);
  background-size: 100%; }

.video-box {
  color: #fff;
  padding: 95px 35px;
  font-weight: 900; }

#video a {
  height: 230px;
  display: block;
  transition: all .5; }

/* Play button icon */
#video .play-btn {
  position: absolute;
  top: 30%;
  left: 40%;
  font-size: 6rem;
  color: rgba(255, 255, 255, 0.5);
  transition: all .5s linear; }

#video img:hover ~ .play-btn,
.play-btn:hover {
  color: white; }

/* === #gallery ===*/
.hero-content {
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: #eee; }

.gallery {
  margin: 40px 0; }

.gallery .img {
  position: relative;
  padding-left: 0;
  z-index: 4; }

.gallery img {
  margin: 0;
  display: block;
  transition: all .5s; }

.front {
  position: relative; }

.back {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 230px;
  height: 230px;
  background: #ccc;
  color: #333; }

.back span {
  display: block;
  margin-top: 20px; }

.back .pic_title {
  background: #fff;
  padding: 10px; }

.back .pic_source {
  position: absolute;
  left: 10px;
  bottom: 0; }

.caption {
  position: absolute;
  left: 7.043478%;
  bottom: 80%;
  color: #fff;
  display: inline-block;
  text-shadow: 1px 1px 1px #333;
  transition: all .5s; }

.btn-learn {
  position: absolute;
  color: #fff;
  right: 10%;
  bottom: 0;
  opacity: 0;
  display: inline-block;
  transition: all .5s; }

/* 2D Transition */
.gallery img:hover {
  z-index: 1;
  transform: scale(1.2, 1.2);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5); }

.gallery .img:hover {
  z-index: 5; }

.gallery img:hover ~ .btn-learn {
  z-index: 2;
  opacity: 1; }

.gallery img:hover ~ .caption {
  z-index: 2;
  transform: translate(30px, 20px);
  font-weight: bold; }

/* 3D Transform */
.gallery3d .img {
  transition: all .5s; }

.gallery3d .picture {
  transition: all 1s;
  transform-style: preserve-3d; }

.gallery3d .front {
  transform: rotateY(0deg); }

.gallery3d .back {
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.gallery3d .img:hover .picture {
  transform: rotateY(180deg); }

/* === Contact ===*/
.panel {
  margin: 40px 0 40px 0;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  border: none;
  background-color: #eee; }

.btn-2 {
  transition: none; }

.btn-2b {
  border-radius: 0 0 5px 5px; }

.btn-2a:hover {
  top: 2px; }

.btn-2a:active {
  top: 6px; }

footer {
  margin-top: 30px;
  background-color: #eee;
  padding: 20px 0 0 0; }

footer p, footer a {
  font-size: 14px; }

/* user List Styles */
.userlist {
  width: 100%;
  margin: 0 auto;
  opacity: .95;
  z-index: 10;
  margin-top: 20px; }

.userlist ul {
  margin: 0;
  padding: 0; }

.userlist li {
  width: 50%;
  float: left;
  padding: 12px;
  margin-bottom: 10px;
  list-style: none;
  transition: all 0.3s ease-out;
  border: 1px solid transparent; }

.userlist li:hover {
  border: 1px solid #C5C5C5;
  border-radius: 4px; }

.userlist li.expanded {
  width: 100%; }

.userlist li.expanded form {
  width: 100%;
  padding: 10px 0; }

.userlist li.expanded form input {
  width: 80%; }

.userlist li.expanded .btn-love {
  background-color: #C61C6F; }

.userlist .buttons {
  display: block;
  float: left;
  text-align: left;
  margin-right: 5px; }

.userlist .info {
  display: block;
  float: left;
  text-align: left; }

@media all and (max-width: 600px) {
  .userlist li {
    width: 100%; }
  .userlist .info {
    width: 70%; } }

.credits ul {
  text-transform: lowercase;
  list-style-type: none; }

/* === Media Queries ===*/
@media only screen and (max-width: 40em) {
  .columns.large-centered {
    font-size: 13px; } }

@media only screen and (min-width: 40.063em) {
  .columns.large-centered {
    font-size: 14px; } }

@media only screen and (min-width: 64.063em) {
  .radius.right.button {
    color: #000;
    border: 2px #000 solid;
    border-radius: 5px;
    padding: 15px 50px 15px 50px;
    margin-top: 25px;
    font-size: 0.8125em; } }

@media only screen and (min-width: 40.063em) {
  .radius.right.button {
    color: #000;
    border: 2px #000 solid;
    border-radius: 5px;
    padding: 15px 50px 15px 50px;
    margin-top: 25px;
    font-size: 0.8125em; } }
